---
import BlogPost from '@/components/BlogPost.astro'
import { Frontmatter } from '@/types'
import { sortByDate } from '@/utils'

import '../styles/global.css'

// const posts = await Astro.glob<Frontmatter>('./posts/100dod/*.md')

export async function getStaticPaths({ paginate }) {
	const unsortedPosts = await Astro.glob<Frontmatter>('./posts/100dod/*.md')
	const sortedPosts = sortByDate(unsortedPosts)
	return paginate(sortedPosts, { pageSize: 7 })
}
const { page } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>tom's blobs</title>
	</head>
	<body
		class="a grid place-content-center gap-12 font-sans text-stone-600 bg-light"
	>
		<main class="mt-16 px-4 prose-custom prose-xl lg:prose-2xl prose-stone">
			<h1 class="font-chonk font-black text-outline mb-2  border-b border-b-stone-600 ">
				toms's blobs
			</h1>
			{page.data.map(({ frontmatter: {title, imgAlt, date, hasImg}, file, Content }) => (
				<BlogPost
					{title}
					file={file}
					{imgAlt}
					{date}
					{hasImg}
				>
					<Content />
				</BlogPost>
			))}
		</main>

		<nav
			class="w-full flex flex-col justify-center items-center gap-6 bg-amber-100 px-8 pb-8 pt-6 prose-custom prose-xl lg:prose-2xl prose-stone rounded-3xl"
		>
			{page.url.prev ? <a href={page.url.prev}>Newer Posts</a> : null}
			{page.url.next ? <a href={page.url.next}>Older Posts</a> : null}
		</nav>

		<footer
			class="w-full flex flex-col gap-8 bg-dark px-8 pb-8 pt-6 prose-custom prose-xl lg:prose-2xl prose-stone"
		>
			<a
				href="https://www.100daysofx.com/"
				class=" text-light"
			>
				Learn about the #100DaysOfX thing
			</a>
			<div class="h-0 border border-b-light"></div>
			<address class="flex flex-col-reverse items-end">
				<span class="text-stone-300">Created by Tom Szwaja</span>
				<a
					href="https://twitter.com/TomSzwa"
					class="text-light"
				>
					Tweet with me
				</a>
			</address>
		</footer>
	</body>
</html>
