---
import BlogPost from '@/components/BlogPost.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { sortPostsByDate } from '@/utils'
import { getCollection } from 'astro:content'

export async function getStaticPaths({ paginate }) {
	const unsortedPosts = await getCollection('posts', ({ data }) => {
		return data.isDraft !== true
	})
	const postsByDate = sortPostsByDate(unsortedPosts)
	return paginate(postsByDate, { pageSize: 7 })
}
const { page } = Astro.props
const prevUrl = page.currentPage === 2 ? '/' : page.url.prev
const nextUrl = page.url.next
---

<BaseLayout>
	<main
		class="overflow-x-hidden px-4 prose-custom prose-md lg:prose-xl md:prose-lg prose-stone"
	>
		{page.data.map((post) => {
			return <BlogPost post={post} />
		})}
	</main>

	<nav
		class=" flex flex-col justify-center items-center gap-6 mx-4 px-8 py-8 prose-custom prose-xl lg:prose-2xl prose-stone border-[4px] border-stone-700 rounded-3xl"
	>
		<span>
			Page {page.currentPage} of {page.lastPage}
		</span>
		<div class="w-full h-0 border-t border-t-stone-400"></div>
		<a href="/">Beginning</a>
		<div class="w-4/12 h-0 border-t border-t-stone-400"></div>
		{prevUrl && <a href={prevUrl}>Newer</a>}
		{nextUrl && <a href={nextUrl}>Older</a>}
		<div class="w-4/12 h-0 border-t border-t-stone-400"></div>
		<a href={`/${page.lastPage}`}>End</a>
	</nav>
</BaseLayout>
