---
// interface BlogPost {
// 	file: string
// 	layout: string
// 	title: string
// 	author: string
// 	imgAlt: string
// }
export interface Props {
	title: string
	file: string
	imgAlt: string
}

const { title, file, imgAlt } = Astro.props as Props
const fileName = ((): string => {
	const indexOfLastBackSlash = file.lastIndexOf('/')
	const indexOfLastColon = file.lastIndexOf('.')
	const fileName = file.slice(indexOfLastBackSlash + 1, indexOfLastColon)
	return fileName
})()
---

<article>
	<img src={`/${fileName}.png`} alt={imgAlt} />
	{
		title
		? (
			<h1 class="font-sans text-3xl">{title}</h1>
			<h2>{fileName}</h2>
			)
			: <h1 class="font-sans text-3xl">{fileName}</h1>
	}
	<slot />
	<footer>
		<p>
			Posted on
			<time datetime="2015-05-16 19:00">May 16</time>
			by Lisa.
		</p>
	</footer>
</article>

<style>

</style>
