---
import { formatDateObjToCustom } from '@/utils'
import type { CollectionEntry } from 'astro:content'
interface Props {
	post: CollectionEntry<'posts'>
}

const { post } = Astro.props
const { title, description, image, tags, pubDate } = post.data
const { Content } = await post.render()
---

<article class="mt-48 first-of-type:mt-8 flex flex-col gap-0">
	<h2 id={title} class="text-6xl lg:text-8xl !mt-0">
		<a href={`#${title}`}>{title}</a>
	</h2>
	{description ? (
		<h3 class="text-2xl text-stone-500">{description}</h3>
	) : null}

	{image && <img src={image.url} alt={image.alt} />}
	<Content />

	<footer
		class="mt-4 pt-2 flex justify-between italic text-stone-500 border-t border-t-stone-400"
	>
		<span> Written on {formatDateObjToCustom(pubDate)}</span>

		<a href={`/posts/${post.slug}`}>View post on own page</a>
		<div class="tags">
			{tags.map((tag) => (
				<p class="tag">
					<a href={`/tags/${tag}`}>{tag}</a>
				</p>
			))}
		</div>
	</footer>
</article>

<style>
	a {
		color: #00539f;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}

	.tag {
		margin: 0.25em;
		border: dotted 1px #a1a1a1;
		border-radius: 0.5em;
		padding: 0.5em 1em;
		font-size: 1.15em;
		background-color: #f8fcfd;
	}
</style>
