---
// interface BlogPost {
// 	file: string
// 	layout: string
// 	title: string
// 	author: string
// 	imgAlt: string
// }
export interface Props {
	title: string
	file: string
	imgAlt: string
}

const { file, imgAlt } = Astro.props as Props
const fileName = ((): string => {
	const indexOfLastBackSlash = file.lastIndexOf('/')
	const indexOfLastColon = file.lastIndexOf('.')
	const fileName = file.slice(indexOfLastBackSlash + 1, indexOfLastColon)
	return fileName
})()
const title = Astro.props.title || fileName
---

<article class="prose prose-stone mt-64 first:mt-16 flex flex-col gap-0 px-4">
	<h2 class="font-sans text-3xl" id={title}>
		<a href={`#${title}`}>{title}</a>
	</h2>
	{Astro.props.title ? (
		<h3 class="text-xl text-stone-500">{fileName}</h3>
	) : null}
	<img src={`/${fileName}.png`} alt={imgAlt} />

	<slot />
	<footer class="pt-2 italic border-t">
		<span> Written by Tom</span>
	</footer>
</article>
