---
import { formatDateToCustom } from '@/utils'
export interface Props {
	title: string
	file: string
	imgAlt: string
	date: string
	url: string
	hasImg?: boolean | undefined
}

const { file, imgAlt, date, url } = Astro.props as Props
const fileName = ((): string => {
	const indexOfLastBackSlash = file.lastIndexOf('/')
	const indexOfLastColon = file.lastIndexOf('.')
	const fileName = file.slice(indexOfLastBackSlash + 1, indexOfLastColon)
	return fileName
})()
const title = Astro.props.title || fileName
---

<article class="mt-48 first-of-type:mt-8 flex flex-col gap-0">
	<h2 id={title} class="text-6xl lg:text-8xl !mt-0">
		<a href={`#${title}`}>{title}</a>
	</h2>
	{Astro.props.title ? (
		<h3 class="text-2xl text-stone-500">{fileName}</h3>
	) : null}

	{Astro.props.hasImg !== false && (
		<img src={`/daycards/${fileName}.svg`} alt={imgAlt} />
	)}

	<slot />
	<footer
		class="mt-4 pt-2 flex justify-between italic text-stone-500 border-t border-t-stone-400"
	>
		<span> Written on {formatDateToCustom(date)}</span>
		<a href={url}>View post on own page</a>
	</footer>
</article>
