---
interface BlogPost {
	file: string
	layout: string
	title: string
	author: string
	imgAlt: string
}
export interface Props {
	content: BlogPost
}

const { content } = Astro.props as Props
const fileName = ((): string => {
	const indexOfLastBackSlash = content.file.lastIndexOf('/')
	const indexOfLastColon = content.file.lastIndexOf('.')
	const fileName = content.file.slice(
		indexOfLastBackSlash + 1,
		indexOfLastColon
	)
	return fileName
})()
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{content.title}</title>
	</head>
	<body>
		<div>
			<h1>{fileName}</h1>
			<!-- {Object.keys(content).map((key, i) =>(
            <ul>
                <li>{key}: {content[key]}</li>
            </ul>
        ))} -->
		</div>
		<img src={`/${fileName}.png`} alt={content.imgAlt} />
		<slot />
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Ultra&display=swap');
		</style>
	</body>
</html>
